@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-size: 16px;
  font-family: Destine, Roboto, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background: white;
}


@font-face {
  font-family: Genshin;
  src: url("./fonts/zh-cn.ttf")format("truetype"),
  url("./fonts/zh-cn.woff")format("woff"),
  url("./fonts/zh-cn.woff2")format("woff2");
}

@font-face {
  font-family: Destine;
  src: url("./fonts/DestinePersonalUseRegular.otf")format("opentype"),
  url("./fonts/DestinePersonalUseRegular.woff")format("woff"),
  url("./fonts/DestinePersonalUseRegular.woff2")format("woff2");
}

@font-face {
  font-family: Linlegrey;
  src: url("./fonts/Linlegreyregular.ttf")format("truetype"),
  url("./fonts/Linlegreyregular.woff")format("woff"),
  url("./fonts/Linlegreyregular.woff2")format("woff2");
}
