@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Genshin;
  src: url("./fonts/zh-cn.ttf")format("truetype"),
  url("./fonts/zh-cn.woff")format("woff"),
  url("./fonts/zh-cn.woff2")format("woff2");
}

@font-face {
  font-family: Destine;
  src: url("./fonts/DestinePersonalUseRegular.otf")format("opentype"),
  url("./fonts/DestinePersonalUseRegular.woff")format("woff"),
  url("./fonts/DestinePersonalUseRegular.woff2")format("woff2");
}

@font-face {
  font-family: Linlegrey;
  src: url("./fonts/Linlegreyregular.ttf")format("truetype"),
  url("./fonts/Linlegreyregular.woff")format("woff"),
  url("./fonts/Linlegreyregular.woff2")format("woff2");
}
