@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  font-family: Destine, Roboto, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background: white;
}

@font-face {
  font-family: Genshin;
  src:
    url('@/assets/fonts/zh-cn.ttf') format('truetype'),
    url('@/assets//fonts/zh-cn.woff') format('woff'),
    url('@/assets//fonts/zh-cn.woff2') format('woff2');
}

@font-face {
  font-family: Destine;
  src:
    url('@/assets//fonts/DestinePersonalUseRegular.otf') format('opentype'),
    url('@/assets//fonts/DestinePersonalUseRegular.woff') format('woff'),
    url('@/assets/fonts/DestinePersonalUseRegular.woff2') format('woff2');
}

@font-face {
  font-family: Linlegrey;
  src:
    url('@/assets/fonts/Linlegreyregular.ttf') format('truetype'),
    url('@/assets/fonts/Linlegreyregular.woff') format('woff'),
    url('@/assets/fonts/Linlegreyregular.woff2') format('woff2');
}

@font-face {
  font-family: Noto Sans KR Regular;
  src:
    url('@/assets/fonts/NotoSansKR-Regular.otf') format('truetype'),
    url('@/assets/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('@/assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Noto Sans KR Medium;
  src:
    url('@/assets/fonts/NotoSansKR-Medium.otf') format('truetype'),
    url('@/assets/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('@/assets/fonts/NotoSansKR-Medium.woff2') format('woff2');
}
